nav {
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  z-index: 10;

}

header {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: url("http://static.simpledesktops.com/uploads/desktops/2015/02/25/Lattice.png");
}

.jumbotron {
  height:100vh;
  min-height:400px;
  /*url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item.active .nav-link,
.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #23C8F1;
}

h2{
  letter-spacing: 1px;
}

.textCarousel h1{
  font-weight: bold;
  margin: 0.4em 0;
  color: white;
  font-size: 4.5em;
}

.textCarousel h3{
  font-size: 2.5em;
  font-family: 'Yantramanav', sans-serif;
  color: #23C8F1;
  font-weight: bolder;
  letter-spacing: 4px;
}

.h3-bottom{
  font-size: 1.5em;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
}

.icon-background {
    color: #23C8F1;
}

.icon {
  color: white;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.textCarousel {
  padding: 1em 2em;
  color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.vertical-align {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

br {
   display: block;
   content: " ";
   line-height:22px;
}

@media screen and (max-width: 767px) {
  .navbar-custom {
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
      background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  }
}

@media screen and (max-width: 480px) {

}
