nav {
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  z-index: 10;

}

header {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: url("http://static.simpledesktops.com/uploads/desktops/2015/02/25/Lattice.png");
}

.jumbotron {
  height:100vh;
  min-height:400px;
  /*url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item.active .nav-link,
.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #23C8F1;
}

h2{
  letter-spacing: 1px;
}

.textCarousel h1{
  font-weight: bold;
  margin: 0.4em 0;
  color: white;
  font-size: 4.5em;
}

.textCarousel h3{
  font-size: 2.5em;
  font-family: 'Yantramanav', sans-serif;
  color: #23C8F1;
  font-weight: bolder;
  letter-spacing: 4px;
}

.h3-bottom{
  font-size: 1.5em;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bolder;
}

.icon-background {
    color: #23C8F1;
}

.icon {
  color: white;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.textCarousel {
  padding: 1em 2em;
  color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;

}

.vertical-align {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 0.75em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 0.75em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #F96D6D;
}

.cardBox:nth-child(2) .card .back {
  background: #F96D6D;
}

.cardBox:nth-child(3) .card .back {
  background: #F96D6D;
}

.cardBox:nth-child(4) .card .back {
  background: #F96D6D;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
  .navbar-custom {
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
      background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}
.cardName{
  text-align: center;
  font-size: 0.75em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 2em;
}
